USE [QuanLyLopTiengAnh]
GO
/****** Object:  Table [dbo].[buoi_hoc]    Script Date: 31/08/2026 8:35:45 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[buoi_hoc](
	[ma_buoi] [int] IDENTITY(1,1) NOT NULL,
	[ma_lop] [int] NOT NULL,
	[ngay_hoc] [date] NOT NULL,
	[gio_bat_dau] [time](7) NULL,
	[gio_ket_thuc] [time](7) NULL,
	[noi_dung] [nvarchar](255) NULL,
	[bi_huy] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ma_buoi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dang_ky_hoc]    Script Date: 31/08/2026 8:35:45 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dang_ky_hoc](
	[ma_dang_ky] [int] IDENTITY(1,1) NOT NULL,
	[ma_hoc_vien] [int] NOT NULL,
	[ma_lop] [int] NOT NULL,
	[ngay_dang_ky] [date] NULL,
	[trang_thai] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ma_dang_ky] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[diem_danh]    Script Date: 31/08/2026 8:35:45 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[diem_danh](
	[ma_diem_danh] [int] IDENTITY(1,1) NOT NULL,
	[ma_buoi] [int] NOT NULL,
	[ma_hoc_vien] [int] NOT NULL,
	[trang_thai] [nvarchar](20) NULL,
	[ghi_chu] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ma_diem_danh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[diem_thi]    Script Date: 31/08/2026 8:35:45 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[diem_thi](
	[ma_diem_thi] [int] IDENTITY(1,1) NOT NULL,
	[ma_ky_thi] [int] NOT NULL,
	[ma_hoc_vien] [int] NOT NULL,
	[diem_nghe] [decimal](5, 2) NULL,
	[diem_noi] [decimal](5, 2) NULL,
	[diem_doc] [decimal](5, 2) NULL,
	[diem_viet] [decimal](5, 2) NULL,
	[tong_diem] [decimal](5, 2) NULL,
	[nhan_xet] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ma_diem_thi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[giao_vien]    Script Date: 31/08/2026 8:35:45 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[giao_vien](
	[ma_giao_vien] [int] IDENTITY(1,1) NOT NULL,
	[ma_nguoi_dung] [int] NULL,
	[ho_ten] [nvarchar](100) NOT NULL,
	[gioi_tinh] [nvarchar](10) NULL,
	[ngay_sinh] [date] NULL,
	[so_dien_thoai] [nvarchar](20) NULL,
	[email] [nvarchar](100) NULL,
	[chuyen_mon] [nvarchar](100) NULL,
	[ngay_vao_lam] [date] NULL,
	[luong_theo_gio] [decimal](10, 2) NULL,
	[dang_hoat_dong] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ma_giao_vien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[hoa_don]    Script Date: 31/08/2026 8:35:45 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hoa_don](
	[ma_hoa_don] [int] IDENTITY(1,1) NOT NULL,
	[ma_hoc_vien] [int] NOT NULL,
	[ma_lop] [int] NOT NULL,
	[tong_tien] [decimal](12, 2) NOT NULL,
	[giam_gia] [decimal](12, 2) NULL,
	[thanh_tien]  AS ([tong_tien]-[giam_gia]) PERSISTED,
	[ngay_lap] [date] NULL,
	[han_thanh_toan] [date] NULL,
	[trang_thai] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ma_hoa_don] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[hoc_vien]    Script Date: 31/08/2026 8:35:45 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hoc_vien](
	[ma_hoc_vien] [int] IDENTITY(1,1) NOT NULL,
	[ma_nguoi_dung] [int] NULL,
	[ho_ten] [nvarchar](100) NOT NULL,
	[gioi_tinh] [nvarchar](10) NULL,
	[ngay_sinh] [date] NULL,
	[so_dien_thoai] [nvarchar](20) NULL,
	[email] [nvarchar](100) NULL,
	[dia_chi] [nvarchar](255) NULL,
	[ten_phu_huynh] [nvarchar](100) NULL,
	[sdt_phu_huynh] [nvarchar](20) NULL,
	[ngay_nhap_hoc] [date] NULL,
	[dang_hoat_dong] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ma_hoc_vien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ky_thi]    Script Date: 31/08/2026 8:35:45 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ky_thi](
	[ma_ky_thi] [int] IDENTITY(1,1) NOT NULL,
	[ma_lop] [int] NOT NULL,
	[ten_ky_thi] [nvarchar](150) NOT NULL,
	[ngay_thi] [date] NULL,
	[loai_ky_thi] [nvarchar](20) NULL,
	[diem_toi_da] [decimal](5, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[ma_ky_thi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[khoa_hoc]    Script Date: 31/08/2026 8:35:45 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[khoa_hoc](
	[ma_khoa_hoc] [int] IDENTITY(1,1) NOT NULL,
	[ten_khoa_hoc] [nvarchar](150) NOT NULL,
	[ma_code] [nvarchar](20) NULL,
	[trinh_do] [nvarchar](50) NULL,
	[mo_ta] [nvarchar](max) NULL,
	[tong_so_buoi] [int] NULL,
	[so_tuan_hoc] [int] NULL,
	[hoc_phi_chuan] [decimal](12, 2) NULL,
	[dang_hoat_dong] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ma_khoa_hoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[lich_hoc]    Script Date: 31/08/2026 8:35:45 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lich_hoc](
	[ma_lich] [int] IDENTITY(1,1) NOT NULL,
	[ma_lop] [int] NOT NULL,
	[thu_trong_tuan] [nvarchar](5) NOT NULL,
	[gio_bat_dau] [time](7) NOT NULL,
	[gio_ket_thuc] [time](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ma_lich] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[lop_hoc]    Script Date: 31/08/2026 8:35:45 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lop_hoc](
	[ma_lop] [int] IDENTITY(1,1) NOT NULL,
	[ma_lop_code] [nvarchar](30) NOT NULL,
	[ten_lop] [nvarchar](150) NOT NULL,
	[ma_khoa_hoc] [int] NOT NULL,
	[ma_giao_vien] [int] NULL,
	[ma_phong] [int] NULL,
	[avatar_url] [nvarchar](500) NULL,
	[ngay_bat_dau] [date] NULL,
	[ngay_ket_thuc] [date] NULL,
	[si_so_toi_da] [int] NULL,
	[trang_thai] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ma_lop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[nguoi_dung]    Script Date: 31/08/2026 8:35:45 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nguoi_dung](
	[ma_nguoi_dung] [int] IDENTITY(1,1) NOT NULL,
	[ten_dang_nhap] [nvarchar](50) NOT NULL,
	[mat_khau_hash] [nvarchar](255) NOT NULL,
	[ho_ten] [nvarchar](100) NOT NULL,
	[email] [nvarchar](100) NULL,
	[so_dien_thoai] [nvarchar](20) NULL,
	[ma_vai_tro] [int] NOT NULL,
	[avatar_url] [nvarchar](500) NULL,
	[dang_hoat_dong] [bit] NULL,
	[ngay_tao] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[ma_nguoi_dung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[phong_hoc]    Script Date: 31/08/2026 8:35:45 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[phong_hoc](
	[ma_phong] [int] IDENTITY(1,1) NOT NULL,
	[ten_phong] [nvarchar](50) NOT NULL,
	[suc_chua] [int] NULL,
	[vi_tri] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ma_phong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[thanh_toan]    Script Date: 31/08/2026 8:35:45 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[thanh_toan](
	[ma_thanh_toan] [int] IDENTITY(1,1) NOT NULL,
	[ma_hoa_don] [int] NOT NULL,
	[so_tien_da_tra] [decimal](12, 2) NOT NULL,
	[ngay_thanh_toan] [datetime2](7) NULL,
	[hinh_thuc] [nvarchar](20) NULL,
	[ghi_chu] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ma_thanh_toan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[vai_tro]    Script Date: 31/08/2026 8:35:45 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vai_tro](
	[ma_vai_tro] [int] IDENTITY(1,1) NOT NULL,
	[ten_vai_tro] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ma_vai_tro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[buoi_hoc] ON 

INSERT [dbo].[buoi_hoc] ([ma_buoi], [ma_lop], [ngay_hoc], [gio_bat_dau], [gio_ket_thuc], [noi_dung], [bi_huy]) VALUES (3, 3, CAST(N'2023-10-02' AS Date), CAST(N'18:00:00' AS Time), CAST(N'20:00:00' AS Time), N'Orientation & Listening Unit 1', 0)
INSERT [dbo].[buoi_hoc] ([ma_buoi], [ma_lop], [ngay_hoc], [gio_bat_dau], [gio_ket_thuc], [noi_dung], [bi_huy]) VALUES (5, 4, CAST(N'2026-09-01' AS Date), CAST(N'18:00:00' AS Time), CAST(N'20:00:00' AS Time), N'Unit 1 - Introduction', 0)
INSERT [dbo].[buoi_hoc] ([ma_buoi], [ma_lop], [ngay_hoc], [gio_bat_dau], [gio_ket_thuc], [noi_dung], [bi_huy]) VALUES (6, 4, CAST(N'2026-09-03' AS Date), CAST(N'18:00:00' AS Time), CAST(N'20:00:00' AS Time), N'Unit 2 - Grammar', 0)
SET IDENTITY_INSERT [dbo].[buoi_hoc] OFF
GO
SET IDENTITY_INSERT [dbo].[dang_ky_hoc] ON 

INSERT [dbo].[dang_ky_hoc] ([ma_dang_ky], [ma_hoc_vien], [ma_lop], [ngay_dang_ky], [trang_thai]) VALUES (4, 5, 3, CAST(N'2023-09-21' AS Date), N'DangHoc')
SET IDENTITY_INSERT [dbo].[dang_ky_hoc] OFF
GO
SET IDENTITY_INSERT [dbo].[diem_danh] ON 

INSERT [dbo].[diem_danh] ([ma_diem_danh], [ma_buoi], [ma_hoc_vien], [trang_thai], [ghi_chu]) VALUES (4, 3, 5, N'VangCoPhep', N'Ốm, đã xin phép giáo vụ')
SET IDENTITY_INSERT [dbo].[diem_danh] OFF
GO
SET IDENTITY_INSERT [dbo].[diem_thi] ON 

INSERT [dbo].[diem_thi] ([ma_diem_thi], [ma_ky_thi], [ma_hoc_vien], [diem_nghe], [diem_noi], [diem_doc], [diem_viet], [tong_diem], [nhan_xet]) VALUES (4, 3, 5, CAST(5.00 AS Decimal(5, 2)), CAST(6.00 AS Decimal(5, 2)), CAST(5.50 AS Decimal(5, 2)), CAST(5.50 AS Decimal(5, 2)), CAST(5.50 AS Decimal(5, 2)), N'Speaking tự nhiên, từ vựng đa dạng.')
SET IDENTITY_INSERT [dbo].[diem_thi] OFF
GO
SET IDENTITY_INSERT [dbo].[giao_vien] ON 

INSERT [dbo].[giao_vien] ([ma_giao_vien], [ma_nguoi_dung], [ho_ten], [gioi_tinh], [ngay_sinh], [so_dien_thoai], [email], [chuyen_mon], [ngay_vao_lam], [luong_theo_gio], [dang_hoat_dong]) VALUES (4, 4, N'Trần Thị Thu', N'Nu', CAST(N'1990-05-15' AS Date), N'0987654321', N'thutran@trungtam.com', N'IELTS, Giao tiếp', CAST(N'2020-02-01' AS Date), CAST(300000.00 AS Decimal(10, 2)), 1)
INSERT [dbo].[giao_vien] ([ma_giao_vien], [ma_nguoi_dung], [ho_ten], [gioi_tinh], [ngay_sinh], [so_dien_thoai], [email], [chuyen_mon], [ngay_vao_lam], [luong_theo_gio], [dang_hoat_dong]) VALUES (5, 5, N'Nguyễn Hoàng Nam', N'Nam', CAST(N'1988-10-20' AS Date), N'0977665544', N'namnguyen@trungtam.com', N'TOEIC', CAST(N'2019-08-15' AS Date), CAST(250000.00 AS Decimal(10, 2)), 1)
INSERT [dbo].[giao_vien] ([ma_giao_vien], [ma_nguoi_dung], [ho_ten], [gioi_tinh], [ngay_sinh], [so_dien_thoai], [email], [chuyen_mon], [ngay_vao_lam], [luong_theo_gio], [dang_hoat_dong]) VALUES (8, 10, N'Nguyễn Văn Test', N'Nam', CAST(N'1998-05-20' AS Date), N'0987000111', N'giaovien100@gmail.com', N'IELTS', CAST(N'2026-08-03' AS Date), CAST(250000.00 AS Decimal(10, 2)), 1)
SET IDENTITY_INSERT [dbo].[giao_vien] OFF
GO
SET IDENTITY_INSERT [dbo].[hoa_don] ON 

INSERT [dbo].[hoa_don] ([ma_hoa_don], [ma_hoc_vien], [ma_lop], [tong_tien], [giam_gia], [ngay_lap], [han_thanh_toan], [trang_thai]) VALUES (4, 5, 3, CAST(6000000.00 AS Decimal(12, 2)), CAST(0.00 AS Decimal(12, 2)), CAST(N'2023-09-21' AS Date), CAST(N'2023-10-05' AS Date), N'ChuaThanhToan')
SET IDENTITY_INSERT [dbo].[hoa_don] OFF
GO
SET IDENTITY_INSERT [dbo].[hoc_vien] ON 

INSERT [dbo].[hoc_vien] ([ma_hoc_vien], [ma_nguoi_dung], [ho_ten], [gioi_tinh], [ngay_sinh], [so_dien_thoai], [email], [dia_chi], [ten_phu_huynh], [sdt_phu_huynh], [ngay_nhap_hoc], [dang_hoat_dong]) VALUES (5, 7, N'Phạm Quỳnh Anh', N'Nu', CAST(N'2006-11-25' AS Date), N'0922333444', N'quynhanh@gmail.com', N'Thanh Xuân, Hà Nội', NULL, NULL, CAST(N'2023-09-05' AS Date), 1)
INSERT [dbo].[hoc_vien] ([ma_hoc_vien], [ma_nguoi_dung], [ho_ten], [gioi_tinh], [ngay_sinh], [so_dien_thoai], [email], [dia_chi], [ten_phu_huynh], [sdt_phu_huynh], [ngay_nhap_hoc], [dang_hoat_dong]) VALUES (6, 11, N'Nguyễn Văn An', N'Nam', CAST(N'2005-05-15' AS Date), N'0912345678', N'nguyenvanan@gmail.com', N'Hưng Yên', N'Nguyễn Văn Bình', N'0987654321', CAST(N'2026-08-01' AS Date), 1)
INSERT [dbo].[hoc_vien] ([ma_hoc_vien], [ma_nguoi_dung], [ho_ten], [gioi_tinh], [ngay_sinh], [so_dien_thoai], [email], [dia_chi], [ten_phu_huynh], [sdt_phu_huynh], [ngay_nhap_hoc], [dang_hoat_dong]) VALUES (7, 12, N'Trần Thị Mai', N'Nu', CAST(N'2006-08-20' AS Date), N'0923456789', N'tranthimai@gmail.com', N'Hà Nội', N'Trần Văn Minh', N'0978123456', CAST(N'2026-08-02' AS Date), 1)
SET IDENTITY_INSERT [dbo].[hoc_vien] OFF
GO
SET IDENTITY_INSERT [dbo].[ky_thi] ON 

INSERT [dbo].[ky_thi] ([ma_ky_thi], [ma_lop], [ten_ky_thi], [ngay_thi], [loai_ky_thi], [diem_toi_da]) VALUES (3, 3, N'Mini Test 1', CAST(N'2023-10-15' AS Date), N'QuizNgan', CAST(10.00 AS Decimal(5, 2)))
SET IDENTITY_INSERT [dbo].[ky_thi] OFF
GO
SET IDENTITY_INSERT [dbo].[khoa_hoc] ON 

INSERT [dbo].[khoa_hoc] ([ma_khoa_hoc], [ten_khoa_hoc], [ma_code], [trinh_do], [mo_ta], [tong_so_buoi], [so_tuan_hoc], [hoc_phi_chuan], [dang_hoat_dong]) VALUES (1, N'IELTS Foundation', N'IELTS-FD', N'IELTS 4.0-5.0', NULL, 40, 10, CAST(6000000.00 AS Decimal(12, 2)), 1)
INSERT [dbo].[khoa_hoc] ([ma_khoa_hoc], [ten_khoa_hoc], [ma_code], [trinh_do], [mo_ta], [tong_so_buoi], [so_tuan_hoc], [hoc_phi_chuan], [dang_hoat_dong]) VALUES (2, N'TOEIC 500+', N'TOEIC-500', N'TOEIC Beginner', NULL, 30, 8, CAST(4000000.00 AS Decimal(12, 2)), 1)
INSERT [dbo].[khoa_hoc] ([ma_khoa_hoc], [ten_khoa_hoc], [ma_code], [trinh_do], [mo_ta], [tong_so_buoi], [so_tuan_hoc], [hoc_phi_chuan], [dang_hoat_dong]) VALUES (3, N'IELTS Foundation', N'IELTS-F01', N'A2-B1', N'Khóa học IELTS nền tảng', 30, 15, CAST(5000000.00 AS Decimal(12, 2)), 1)
SET IDENTITY_INSERT [dbo].[khoa_hoc] OFF
GO
SET IDENTITY_INSERT [dbo].[lich_hoc] ON 

INSERT [dbo].[lich_hoc] ([ma_lich], [ma_lop], [thu_trong_tuan], [gio_bat_dau], [gio_ket_thuc]) VALUES (3, 3, N'T2', CAST(N'18:00:00' AS Time), CAST(N'20:00:00' AS Time))
INSERT [dbo].[lich_hoc] ([ma_lich], [ma_lop], [thu_trong_tuan], [gio_bat_dau], [gio_ket_thuc]) VALUES (4, 3, N'T4', CAST(N'18:00:00' AS Time), CAST(N'20:00:00' AS Time))
SET IDENTITY_INSERT [dbo].[lich_hoc] OFF
GO
SET IDENTITY_INSERT [dbo].[lop_hoc] ON 

INSERT [dbo].[lop_hoc] ([ma_lop], [ma_lop_code], [ten_lop], [ma_khoa_hoc], [ma_giao_vien], [ma_phong], [avatar_url], [ngay_bat_dau], [ngay_ket_thuc], [si_so_toi_da], [trang_thai]) VALUES (3, N'IELTS-BASICtf', N'IELTS Basic 01 - Khóa mới', 1, 4, 2, N'https://example.com/images/ielts-basic-new.jpg', CAST(N'2026-09-15' AS Date), CAST(N'2026-12-15' AS Date), 25, N'DangHoc')
INSERT [dbo].[lop_hoc] ([ma_lop], [ma_lop_code], [ten_lop], [ma_khoa_hoc], [ma_giao_vien], [ma_phong], [avatar_url], [ngay_bat_dau], [ngay_ket_thuc], [si_so_toi_da], [trang_thai]) VALUES (4, N'TOEIC-500-K01', N'TOEIC 500+ - Khóa 01 - Cuối tuần', 2, 5, 2, NULL, CAST(N'2023-10-15' AS Date), CAST(N'2023-12-10' AS Date), 15, N'SapKhaiGiang')
INSERT [dbo].[lop_hoc] ([ma_lop], [ma_lop_code], [ten_lop], [ma_khoa_hoc], [ma_giao_vien], [ma_phong], [avatar_url], [ngay_bat_dau], [ngay_ket_thuc], [si_so_toi_da], [trang_thai]) VALUES (5, N'IELTS-BASIC-01', N'IELTS Basic 01', 1, 4, 1, N'https://example.com/images/ielts-basic-01.jpg', CAST(N'2026-09-01' AS Date), CAST(N'2026-11-30' AS Date), 20, N'DangHoc')
SET IDENTITY_INSERT [dbo].[lop_hoc] OFF
GO
SET IDENTITY_INSERT [dbo].[nguoi_dung] ON 

INSERT [dbo].[nguoi_dung] ([ma_nguoi_dung], [ten_dang_nhap], [mat_khau_hash], [ho_ten], [email], [so_dien_thoai], [ma_vai_tro], [avatar_url], [dang_hoat_dong], [ngay_tao]) VALUES (3, N'admin01', N'hashed_password_123', N'Quản Trị Viên', N'admin@trungtam.com', N'0999888777', 1, NULL, 1, CAST(N'2026-07-14T16:05:48.3793862' AS DateTime2))
INSERT [dbo].[nguoi_dung] ([ma_nguoi_dung], [ten_dang_nhap], [mat_khau_hash], [ho_ten], [email], [so_dien_thoai], [ma_vai_tro], [avatar_url], [dang_hoat_dong], [ngay_tao]) VALUES (4, N'gv_thutran', N'hashed_password_123', N'Trần Thị Thu', N'thutran@trungtam.com', N'0987654321', 2, NULL, 1, CAST(N'2026-07-14T16:05:48.3805345' AS DateTime2))
INSERT [dbo].[nguoi_dung] ([ma_nguoi_dung], [ten_dang_nhap], [mat_khau_hash], [ho_ten], [email], [so_dien_thoai], [ma_vai_tro], [avatar_url], [dang_hoat_dong], [ngay_tao]) VALUES (5, N'gv_hoangnam', N'hashed_password_123', N'Nguyễn Hoàng Nam', N'namnguyen@trungtam.com', N'0977665544', 2, NULL, 1, CAST(N'2026-07-14T16:05:48.3812055' AS DateTime2))
SET IDENTITY_INSERT [dbo].[nguoi_dung] OFF
GO
SET IDENTITY_INSERT [dbo].[phong_hoc] ON 

INSERT [dbo].[phong_hoc] ([ma_phong], [ten_phong], [suc_chua], [vi_tri]) VALUES (1, N'P101 - IELTS', 22, N'Tầng 1')
INSERT [dbo].[phong_hoc] ([ma_phong], [ten_phong], [suc_chua], [vi_tri]) VALUES (2, N'Phòng 202', 15, N'Tầng 2')
INSERT [dbo].[phong_hoc] ([ma_phong], [ten_phong], [suc_chua], [vi_tri]) VALUES (3, N'P101', 20, N'Tầng 1')
SET IDENTITY_INSERT [dbo].[phong_hoc] OFF
GO
SET IDENTITY_INSERT [dbo].[vai_tro] ON 

INSERT [dbo].[vai_tro] ([ma_vai_tro], [ten_vai_tro]) VALUES (1, N'Admin')
INSERT [dbo].[vai_tro] ([ma_vai_tro], [ten_vai_tro]) VALUES (2, N'GiaoVien')
INSERT [dbo].[vai_tro] ([ma_vai_tro], [ten_vai_tro]) VALUES (3, N'HocVien')
SET IDENTITY_INSERT [dbo].[vai_tro] OFF
GO
/****** Object:  Index [uq_hocvien_lop]    Script Date: 31/08/2026 8:35:46 SA ******/
ALTER TABLE [dbo].[dang_ky_hoc] ADD  CONSTRAINT [uq_hocvien_lop] UNIQUE NONCLUSTERED 
(
	[ma_hoc_vien] ASC,
	[ma_lop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [uq_buoi_hocvien]    Script Date: 31/08/2026 8:35:46 SA ******/
ALTER TABLE [dbo].[diem_danh] ADD  CONSTRAINT [uq_buoi_hocvien] UNIQUE NONCLUSTERED 
(
	[ma_buoi] ASC,
	[ma_hoc_vien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [uq_kythi_hocvien]    Script Date: 31/08/2026 8:35:46 SA ******/
ALTER TABLE [dbo].[diem_thi] ADD  CONSTRAINT [uq_kythi_hocvien] UNIQUE NONCLUSTERED 
(
	[ma_ky_thi] ASC,
	[ma_hoc_vien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__giao_vie__19C32CF68D4DEA94]    Script Date: 31/08/2026 8:35:46 SA ******/
ALTER TABLE [dbo].[giao_vien] ADD UNIQUE NONCLUSTERED 
(
	[ma_nguoi_dung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__hoc_vien__19C32CF6D07AA977]    Script Date: 31/08/2026 8:35:46 SA ******/
ALTER TABLE [dbo].[hoc_vien] ADD UNIQUE NONCLUSTERED 
(
	[ma_nguoi_dung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__khoa_hoc__7749BF8F6C31E880]    Script Date: 31/08/2026 8:35:46 SA ******/
ALTER TABLE [dbo].[khoa_hoc] ADD UNIQUE NONCLUSTERED 
(
	[ma_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__lop_hoc__434E0C8111D894BA]    Script Date: 31/08/2026 8:35:46 SA ******/
ALTER TABLE [dbo].[lop_hoc] ADD UNIQUE NONCLUSTERED 
(
	[ma_lop_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__nguoi_du__363698B33F0CD161]    Script Date: 31/08/2026 8:35:46 SA ******/
ALTER TABLE [dbo].[nguoi_dung] ADD UNIQUE NONCLUSTERED 
(
	[ten_dang_nhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__nguoi_du__AB6E61643EC8AD2C]    Script Date: 31/08/2026 8:35:46 SA ******/
ALTER TABLE [dbo].[nguoi_dung] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__vai_tro__E59C937C309CC001]    Script Date: 31/08/2026 8:35:46 SA ******/
ALTER TABLE [dbo].[vai_tro] ADD UNIQUE NONCLUSTERED 
(
	[ten_vai_tro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[buoi_hoc] ADD  DEFAULT ((0)) FOR [bi_huy]
GO
ALTER TABLE [dbo].[dang_ky_hoc] ADD  DEFAULT (CONVERT([date],getdate())) FOR [ngay_dang_ky]
GO
ALTER TABLE [dbo].[dang_ky_hoc] ADD  DEFAULT (N'DangHoc') FOR [trang_thai]
GO
ALTER TABLE [dbo].[diem_danh] ADD  DEFAULT (N'CoMat') FOR [trang_thai]
GO
ALTER TABLE [dbo].[giao_vien] ADD  DEFAULT ((1)) FOR [dang_hoat_dong]
GO
ALTER TABLE [dbo].[hoa_don] ADD  DEFAULT ((0)) FOR [giam_gia]
GO
ALTER TABLE [dbo].[hoa_don] ADD  DEFAULT (CONVERT([date],getdate())) FOR [ngay_lap]
GO
ALTER TABLE [dbo].[hoa_don] ADD  DEFAULT (N'ChuaThanhToan') FOR [trang_thai]
GO
ALTER TABLE [dbo].[hoc_vien] ADD  DEFAULT (CONVERT([date],getdate())) FOR [ngay_nhap_hoc]
GO
ALTER TABLE [dbo].[hoc_vien] ADD  DEFAULT ((1)) FOR [dang_hoat_dong]
GO
ALTER TABLE [dbo].[ky_thi] ADD  DEFAULT (N'QuizNgan') FOR [loai_ky_thi]
GO
ALTER TABLE [dbo].[ky_thi] ADD  DEFAULT ((10)) FOR [diem_toi_da]
GO
ALTER TABLE [dbo].[khoa_hoc] ADD  DEFAULT ((1)) FOR [dang_hoat_dong]
GO
ALTER TABLE [dbo].[lop_hoc] ADD  DEFAULT ((20)) FOR [si_so_toi_da]
GO
ALTER TABLE [dbo].[lop_hoc] ADD  DEFAULT (N'SapKhaiGiang') FOR [trang_thai]
GO
ALTER TABLE [dbo].[nguoi_dung] ADD  DEFAULT ((1)) FOR [dang_hoat_dong]
GO
ALTER TABLE [dbo].[nguoi_dung] ADD  DEFAULT (sysdatetime()) FOR [ngay_tao]
GO
ALTER TABLE [dbo].[thanh_toan] ADD  DEFAULT (sysdatetime()) FOR [ngay_thanh_toan]
GO
ALTER TABLE [dbo].[thanh_toan] ADD  DEFAULT (N'TienMat') FOR [hinh_thuc]
GO
ALTER TABLE [dbo].[buoi_hoc]  WITH CHECK ADD  CONSTRAINT [fk_buoihoc_lop] FOREIGN KEY([ma_lop])
REFERENCES [dbo].[lop_hoc] ([ma_lop])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[buoi_hoc] CHECK CONSTRAINT [fk_buoihoc_lop]
GO
ALTER TABLE [dbo].[dang_ky_hoc]  WITH CHECK ADD  CONSTRAINT [fk_dangky_hocvien] FOREIGN KEY([ma_hoc_vien])
REFERENCES [dbo].[hoc_vien] ([ma_hoc_vien])
GO
ALTER TABLE [dbo].[dang_ky_hoc] CHECK CONSTRAINT [fk_dangky_hocvien]
GO
ALTER TABLE [dbo].[dang_ky_hoc]  WITH CHECK ADD  CONSTRAINT [fk_dangky_lop] FOREIGN KEY([ma_lop])
REFERENCES [dbo].[lop_hoc] ([ma_lop])
GO
ALTER TABLE [dbo].[dang_ky_hoc] CHECK CONSTRAINT [fk_dangky_lop]
GO
ALTER TABLE [dbo].[diem_danh]  WITH CHECK ADD  CONSTRAINT [fk_diemdanh_buoi] FOREIGN KEY([ma_buoi])
REFERENCES [dbo].[buoi_hoc] ([ma_buoi])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[diem_danh] CHECK CONSTRAINT [fk_diemdanh_buoi]
GO
ALTER TABLE [dbo].[diem_danh]  WITH CHECK ADD  CONSTRAINT [fk_diemdanh_hocvien] FOREIGN KEY([ma_hoc_vien])
REFERENCES [dbo].[hoc_vien] ([ma_hoc_vien])
GO
ALTER TABLE [dbo].[diem_danh] CHECK CONSTRAINT [fk_diemdanh_hocvien]
GO
ALTER TABLE [dbo].[diem_thi]  WITH CHECK ADD  CONSTRAINT [fk_diemthi_hocvien] FOREIGN KEY([ma_hoc_vien])
REFERENCES [dbo].[hoc_vien] ([ma_hoc_vien])
GO
ALTER TABLE [dbo].[diem_thi] CHECK CONSTRAINT [fk_diemthi_hocvien]
GO
ALTER TABLE [dbo].[diem_thi]  WITH CHECK ADD  CONSTRAINT [fk_diemthi_kythi] FOREIGN KEY([ma_ky_thi])
REFERENCES [dbo].[ky_thi] ([ma_ky_thi])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[diem_thi] CHECK CONSTRAINT [fk_diemthi_kythi]
GO
ALTER TABLE [dbo].[giao_vien]  WITH CHECK ADD  CONSTRAINT [fk_giaovien_nguoidung] FOREIGN KEY([ma_nguoi_dung])
REFERENCES [dbo].[nguoi_dung] ([ma_nguoi_dung])
GO
ALTER TABLE [dbo].[giao_vien] CHECK CONSTRAINT [fk_giaovien_nguoidung]
GO
ALTER TABLE [dbo].[hoa_don]  WITH CHECK ADD  CONSTRAINT [fk_hoadon_hocvien] FOREIGN KEY([ma_hoc_vien])
REFERENCES [dbo].[hoc_vien] ([ma_hoc_vien])
GO
ALTER TABLE [dbo].[hoa_don] CHECK CONSTRAINT [fk_hoadon_hocvien]
GO
ALTER TABLE [dbo].[hoa_don]  WITH CHECK ADD  CONSTRAINT [fk_hoadon_lop] FOREIGN KEY([ma_lop])
REFERENCES [dbo].[lop_hoc] ([ma_lop])
GO
ALTER TABLE [dbo].[hoa_don] CHECK CONSTRAINT [fk_hoadon_lop]
GO
ALTER TABLE [dbo].[hoc_vien]  WITH CHECK ADD  CONSTRAINT [fk_hocvien_nguoidung] FOREIGN KEY([ma_nguoi_dung])
REFERENCES [dbo].[nguoi_dung] ([ma_nguoi_dung])
GO
ALTER TABLE [dbo].[hoc_vien] CHECK CONSTRAINT [fk_hocvien_nguoidung]
GO
ALTER TABLE [dbo].[ky_thi]  WITH CHECK ADD  CONSTRAINT [fk_kythi_lop] FOREIGN KEY([ma_lop])
REFERENCES [dbo].[lop_hoc] ([ma_lop])
GO
ALTER TABLE [dbo].[ky_thi] CHECK CONSTRAINT [fk_kythi_lop]
GO
ALTER TABLE [dbo].[lich_hoc]  WITH CHECK ADD  CONSTRAINT [fk_lichhoc_lop] FOREIGN KEY([ma_lop])
REFERENCES [dbo].[lop_hoc] ([ma_lop])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[lich_hoc] CHECK CONSTRAINT [fk_lichhoc_lop]
GO
ALTER TABLE [dbo].[lop_hoc]  WITH CHECK ADD  CONSTRAINT [fk_lophoc_giaovien] FOREIGN KEY([ma_giao_vien])
REFERENCES [dbo].[giao_vien] ([ma_giao_vien])
GO
ALTER TABLE [dbo].[lop_hoc] CHECK CONSTRAINT [fk_lophoc_giaovien]
GO
ALTER TABLE [dbo].[lop_hoc]  WITH CHECK ADD  CONSTRAINT [fk_lophoc_khoahoc] FOREIGN KEY([ma_khoa_hoc])
REFERENCES [dbo].[khoa_hoc] ([ma_khoa_hoc])
GO
ALTER TABLE [dbo].[lop_hoc] CHECK CONSTRAINT [fk_lophoc_khoahoc]
GO
ALTER TABLE [dbo].[lop_hoc]  WITH CHECK ADD  CONSTRAINT [fk_lophoc_phong] FOREIGN KEY([ma_phong])
REFERENCES [dbo].[phong_hoc] ([ma_phong])
GO
ALTER TABLE [dbo].[lop_hoc] CHECK CONSTRAINT [fk_lophoc_phong]
GO
ALTER TABLE [dbo].[nguoi_dung]  WITH CHECK ADD  CONSTRAINT [fk_nguoidung_vaitro] FOREIGN KEY([ma_vai_tro])
REFERENCES [dbo].[vai_tro] ([ma_vai_tro])
GO
ALTER TABLE [dbo].[nguoi_dung] CHECK CONSTRAINT [fk_nguoidung_vaitro]
GO
ALTER TABLE [dbo].[thanh_toan]  WITH CHECK ADD  CONSTRAINT [fk_thanhtoan_hoadon] FOREIGN KEY([ma_hoa_don])
REFERENCES [dbo].[hoa_don] ([ma_hoa_don])
GO
ALTER TABLE [dbo].[thanh_toan] CHECK CONSTRAINT [fk_thanhtoan_hoadon]
GO
ALTER TABLE [dbo].[dang_ky_hoc]  WITH CHECK ADD CHECK  (([trang_thai]=N'Huy' OR [trang_thai]=N'DaHoanThanh' OR [trang_thai]=N'BaoLuu' OR [trang_thai]=N'DangHoc'))
GO
ALTER TABLE [dbo].[diem_danh]  WITH CHECK ADD CHECK  (([trang_thai]=N'VangCoPhep' OR [trang_thai]=N'TreCoPhep' OR [trang_thai]=N'Vang' OR [trang_thai]=N'CoMat'))
GO
ALTER TABLE [dbo].[giao_vien]  WITH CHECK ADD CHECK  (([gioi_tinh]=N'Khac' OR [gioi_tinh]=N'Nu' OR [gioi_tinh]=N'Nam'))
GO
ALTER TABLE [dbo].[hoa_don]  WITH CHECK ADD CHECK  (([trang_thai]=N'ThanhToanMotPhan' OR [trang_thai]=N'DaThanhToan' OR [trang_thai]=N'ChuaThanhToan'))
GO
ALTER TABLE [dbo].[hoc_vien]  WITH CHECK ADD CHECK  (([gioi_tinh]=N'Khac' OR [gioi_tinh]=N'Nu' OR [gioi_tinh]=N'Nam'))
GO
ALTER TABLE [dbo].[ky_thi]  WITH CHECK ADD CHECK  (([loai_ky_thi]=N'QuizNgan' OR [loai_ky_thi]=N'Mock' OR [loai_ky_thi]=N'CuoiKy' OR [loai_ky_thi]=N'GiuaKy'))
GO
ALTER TABLE [dbo].[lich_hoc]  WITH CHECK ADD CHECK  (([thu_trong_tuan]=N'CN' OR [thu_trong_tuan]=N'T7' OR [thu_trong_tuan]=N'T6' OR [thu_trong_tuan]=N'T5' OR [thu_trong_tuan]=N'T4' OR [thu_trong_tuan]=N'T3' OR [thu_trong_tuan]=N'T2'))
GO
ALTER TABLE [dbo].[lop_hoc]  WITH CHECK ADD CHECK  (([trang_thai]=N'Huy' OR [trang_thai]=N'DaKetThuc' OR [trang_thai]=N'DangHoc' OR [trang_thai]=N'SapKhaiGiang'))
GO
ALTER TABLE [dbo].[thanh_toan]  WITH CHECK ADD CHECK  (([hinh_thuc]=N'ViDienTu' OR [hinh_thuc]=N'The' OR [hinh_thuc]=N'ChuyenKhoan' OR [hinh_thuc]=N'TienMat'))
GO
